#p1 {
color: #000;
text-align: center;
font-size: 30px;
font-family: 'system-ui', sans-serif;
}
#p1 a {
text-decoration: none;
cursor: pointer;
}
.game {
display: flex;
justify-content: center;
}
#canvas {
border: 1px solid #fff;
background-color: #324a5f;
}
.buttons {
display: block;
text-align: center;
}

.buttons button {
background-color:#fff;
border: none;
margin: 8px;
}

@media screen and (min-width: 768px) {
  /* Hide the mobile buttons */
  .buttons {
    display: none;
  }
}